/* 进入动画 */
.ustb-appear {
    transform: translateX(-150px);
}
.ustb-appear-active {
    transform: translateX(0);
    transition: transform 2s ease;
}


.ustb-enter {
    opacity: 0;
}
.ustb-enter-active {
    opacity: 1;
    transition: opacity 2s ease;
}
.ustb-exit {
    opacity: 1;
}
.ustb-exit-active {
    opacity: 0;
    transition: opacity 2s ease;
}

